{% extends "base.html" %}

{% block main %}
    <div class="container-fluid">
      <div class="row">
      {% block sidebar %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              {% for option in sidebar_options %}
              	{% if option.data_toggle = "modal" %}
		            <li><a name="{{ option.name }}" data-toggle="{{ option.data_toggle }}" href="{{ option.data_target }}">{{ option.link_text|upper }}</a></li>
    			{% else %}          	
	            	<li><a name="{{ option.name }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">{{ option.link_text|lower }}</a></li>
	            {% endif %}
            {% endfor %}
          </ul>
        </div>
     {% endblock sidebar%}
   </div>
   <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

{% block section_headers %}

{% endblock section_headers %}

{% block content %}

{% endblock content %}
  </div>
  </div>
  </div>
{% endblock main %}
