{% extends "receive.html" %}
{% block content %}
	<h2 class="sub-header">{{section_head}}</h2>
    <div class="table-responsive">
      <table class="table table-striped">
      <tr>
        {% for head in header %}
            <th>{{head}}</th>
        {% endfor %}
      </tr>
      {% for batch_item in batch_items %}
        <tr>
          <td>{{batch_item.patient.patient_identifier}}</a></td>
          <td>{{batch_item.receive_datetime}}</td>
          <td>{{batch_item.specimen_reference}}</td>
          <td>{{batch_item.protocol_number}}</td>
          <td>{{batch_item.specimen_condition}}</td>
          <td>{{batch_item.specimen_type}}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
{% endblock %}