
    <!--Batch Button-->
     <button name="receive_batch" type="button" class="btn btn-primary btn-sm" id="receive_batch_button" data-toggle="modal" data-target="#batchModal">
      Batch Preset  
    </button>
    <div style="float:right; background-color: white;">
    	<input type="hidden" id="error_message_input" name="error_message_input" value="{{batch_error}}"/>
   </div>
          
    <!--Batch Modal -->
    <div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel" aria-hidden="true">
       <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="batchModalLabel">Batch Preset Form</h4>
            </div>
            
            <div class="modal-body">
            <form class="form-inline" enctype="multipart/form-data" action={% url 'receive_batch' %} method='post'> 
            	{% csrf_token %}
            	<span style="color:red;">{{preset_form.errors}}</span>
	            <div class="row form-inline" id="row_inline_1">
					<div class="form-group">
						<label for="number_samples"></label>
						<input type="text" class="form-control" id="item_count_input_id" name="item_count" placeholder="Number of Samples">
					</div>
					<div class="form-group">
						<label for="collection_datetime"></label>
						<input type="text" class="form-control" id="collection_datetime_input_id" name="collection_datetime" placeholder="Collection Date/Time">
					</div>
					<div class="form-group">
						<label for="specimen_type"></label>
						<input type="text" class="form-control" id="specimen_type_input_id" name="specimen_type" placeholder="Sample Type">
					</div>
					<div class="form-group">
						<label for="protocol_number"></label>
						<input type="text" class="form-control" id="protocol_number_input_id" name="protocol_number" placeholder="Protocol Number">
					</div>
					<div class="form-group">
						<label for="protocol_number"></label>
						<input type="text" class="form-control" id="site_code_input_id" name="site_code" placeholder="Site Code">
					</div>
			  	</div>			  	
              	<div class="modal-footer">
                	<button type="submit" class="btn btn-primary" value="submit" name="submit" id="submit_batch_preset">Submit</button>
              	</div>
          </form>
          </div> <!--end batchmodal form-->                    
         </div>
      </div>
    </div>
    <h2 class="sub-header">{{section_head}}</h2>
	<form class="form-inline" enctype="multipart/form-data" id="inline_form_id" action="" method="post">
		<div class="container">
			<div class="row">
					<input type="hidden" id="action" name="action" value="receive">
				    <div class="col-sm-2">
				    	Patient Identifier
				    </div>
				    <div class="col-sm-2">
				    	Collection Date
				    </div>
				    <div class="col-sm-2">
				    	Sample Type
				    </div>
				    <div class="col-sm-2">
				    	Site Code
				    </div>
				    <div class="col-sm-2">
				    	Protocol Number
				    </div>
				    <div class="col-sm-1">
				    	Primary Tube
				    </div>
				  </div> 
		{% if batch_preset %}   	
			{% for index in batch_size %}
	        	{% csrf_token %}         	
					  <div class="row">
					    <div class="col-sm-2">
					    	<label for="patient_id"></label>
	                        <input type="text" class="form-control" id="patient_id" name="patient_name" placeholder="Patient Identifier">
					    </div>
					    <div class="col-sm-2">
					    	<label for="rec_datetime"></label>
	                        <input type="text" onfocus="(this.type='date')" class="form-control" id="collection_datetime_id" name="collection_datetime_name" value="{{collection_datetime_name}}" placeholder="Collection Date/Time" {% if collection_datetime_name %}readonly{% endif %}>
					    </div>
					    <div class="col-sm-2">
					    	<label for="specimen_type"></label>
	                        <input type="text" class="form-control" id="specimen_type_id" name="specimen_type_name" value="{{specimen_type_name}}" placeholder="Sample Type" {% if specimen_type_name %}readonly{% endif %}>
					    </div>
					    <div class="col-sm-2">
					    	<label for="specimen_type"></label>
	                        <input type="text" class="form-control" id="site_code_id" name="site_code_name" value="{{site_code_name}}" placeholder="Site Code" {% if site_code_name %}readonly{% endif %}>
					    </div>
					    <div class="col-sm-2">
					    	<label for="protocol_number"></label>
	                        <input type="text" class="form-control" id="protocol_number_id" name="protocol_number" value="{{protocol_number}}" placeholder="Protocol Number" {% if protocol_number %}readonly{% endif %}>
					    </div>
					    <div class="col-sm-1">
					    	<div class="checkbox">
					    		<label><input type="checkbox" id='primary_aliquot'></label>
					    	</div>
					    </div>
					  </div>       	
	          {% endfor %}
         {% else %}
         	{% if batch_item_status %}
	       			  {% csrf_token %} 
	       			  {% for form in batch_item_forms %}
					  <div class="row">
					    <div class="col-sm-2 {% if form.patient.errors.0 %} has-error {% endif %}">
					    	<label for="patient_id">{% if form.patient.errors %} <strong style="color:red;" style="margin-button:0;">Incorrect identifier</strong>{%endif%}</label>
	                        <input style="margin-top:0;" type="text" class="form-control" id="patient_id" name="patient_name" placeholder="Patient Identifier" value="{{form.data.patient}}">
					    </div>
					    <div class="col-sm-2 {% if form.receive_datetime.errors.0 %} has-error {% endif %}">
					    	<label for="rec_datetime">{{form.receive_datetime.errors.0}}</label>
	                        <input type="datetime" class="form-control" id="rec_datetime_id" name="rec_datetime_name" placeholder="Receive Datetime" value="{{form.data.receive_datetime}}">
					    </div>
					    <div class="col-sm-2 {% if form.specimen_type.errors.0 %} has-error {% endif %}">
					    	<label for="specimen_type">{{form.specimen_type.errors.0}}</label>
	                        <input type="text" class="form-control" id="specimen_type_id" name="specimen_type_name" value="{{form.data.specimen_type}}" placeholder="Sample Type" {% if specimen_type_name %}readonly{% endif %}>
					    </div>
					    <div class="col-sm-2 {% if form.site_code.errors.0 %} has-error {% endif %}">
					    	<label for="site_code_name">{{form.site_code.errors.0}}</label>
	                        <input type="text" class="form-control" id="site_code_id" name="site_code_name" value="{{form.data.site_code}}" placeholder="Site Code" {% if site_code_name %}readonly{% endif %}>
					    </div>
					    <div class="col-sm-2 {% if form.protocol_number.errors.0 %} has-error {% endif %}">
					    	 <label for="protocol_number">{% if form.protocol_number.errors %} <strong style="margin-button:0;">At most 6 characters.</strong>{%endif%}</label>
	                        <input type="text" class="form-control" id="protocol_number_id" name="protocol_number" value="{{form.data.protocol_number}}" placeholder="Protocol Number" {% if protocol_number %}readonly{% endif %}>
					    	<!--<span class="glyphicon glyphicon-remove form-control-feedback"></span>-->
					    </div>
					    <div class="col-sm-1">
					    	<div class="checkbox"></label><input type="checkbox"></div>
					    </div>
					  </div>
					  {% endfor %}
			{% endif %}  
         {% endif %}
          <div class="modal-footer">
	        <button type="button" class="btn btn-primary" name="receive" id="save_draft_button_id">Save Draft</button>
	        <button type="button" class="btn btn-primary" name="receive_all" id="submit_button_id">Submit</button>
	      </div>
       </div>
    </form>
    <script>
		$(document).ready(function(){
			$("#submit_button_id").click(function (){
				$("#inline_form_id").attr('action', location.protocol + '//' + location.host + '/receive/?action=receive');
				$("#inline_form_id").submit();
			});
			$("#save_draft_button_id").click(function (){
				$("#inline_form_id").attr('action', location.protocol + '//' + location.host + '/receive/?action=draft');
				$("#inline_form_id").submit();
			});
			$('#collection_datetime_input_id').focus(function (){
				$(this).attr('type', 'date');
			});
			$('#collection_datetime_id').focus(function (){
				$(this).attr('type', 'date');
			});
			$( window ).load(function() {
				if ($("#error_message_input").val() == 'failed') {
					$( "#receive_batch_button" ).click();
				}
			});
		});	
	 </script>