
    <!--Batch Button-->
     <button name="receive_batch" type="button" class="btn btn-primary btn-sm" id="receive_batch_button" data-toggle="modal" data-target="#batchModal">
      Batch Preset  
    </button>
          
    <!--Batch Modal -->
    <div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel" aria-hidden="true">
       <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="batchModalLabel">Batch Preset Form</h4>
            </div>
            
            <div class="modal-body">
            <form class="form-inline" enctype="multipart/form-data" action={% url 'receive_batch' %} method='post'> 
            	{% csrf_token %}
	            <div class="row form-inline" id="row_inline_1">
					<div class="form-group">
						<label for="number_samples"></label>
						<input type="text" class="form-control" id="item_count_input_id" name="item_count" placeholder="Number of Samples">
					</div>
					<div class="form-group">
						<label for="collection_date"></label>
						<input type="text" class="form-control" id="collection_date_input_id" name="collection_date" placeholder="Collection Date">
					</div>
					<div class="form-group">
						<label for="sample_type"></label>
						<input type="text" class="form-control" id="sample_type_input_id" name="sample_type" placeholder="Sample Type">
					</div>
					<div class="form-group">
						<label for="protocol_number"></label>
						<input type="text" class="form-control" id="protocol_number_input_id" name="protocol_no" placeholder="Protocol Number">
					</div>
					<div class="form-group">
						<label for="protocol_number"></label>
						<input type="text" class="form-control" id="site_code_input_id" name="site_code" placeholder="Site Code">
					</div>
			  	</div>			  	
              	<div class="modal-footer">
                	<button type="submit" class="btn btn-primary" value="submit" name="submit" id="submit_batch_preset">Submit</button>
              	</div>
          </form>
          </div> <!--end batchmodal form-->                    
         </div>
      </div>
    </div>
    <h2 class="sub-header">{{section_head}}</h2>
	<form class="form-inline" enctype="multipart/form-data" id="inline_form_id" action="" method="post">
		<div class="container">
		{% for index in batch_size %}
        	{% csrf_token %}         	
				  <div class="row">
				    <div class="col-sm-2">
				    	<label for="patient_id"></label>
                        <input type="text" class="form-control" id="patient_id" name="patient_name" placeholder="Patient Identifier">
				    </div>
				    <div class="col-sm-2">
				    	<label for="rec_datetime"></label>
                        <input type="text" onfocus="(this.type='date')" class="form-control" id="collection_date_id" name="collection_date_name" value="{{collection_date_name}}" placeholder="Collection Date" {% if collection_date_name %}readonly{% endif %}>
				    </div>
				    <div class="col-sm-2">
				    	<label for="sample_type"></label>
                        <input type="text" class="form-control" id="sample_type_id" name="sample_type_name" value="{{sample_type_name}}" placeholder="Sample Type" {% if sample_type_name %}readonly{% endif %}>
				    </div>
				    <div class="col-sm-2">
				    	<label for="sample_type"></label>
                        <input type="text" class="form-control" id="site_code_id" name="site_code_name" value="{{site_code_name}}" placeholder="Site Code" {% if site_code_name %}readonly{% endif %}>
				    </div>
				    <div class="col-sm-2">
				    	<label for="protocol_no"></label>
                        <input type="text" class="form-control" id="protocol_no_id" name="protocol_no_name" value="{{protocol_no_name}}" placeholder="Protocol Number" {% if protocol_no_name %}readonly{% endif %}>
				    </div>
				    <div class="col-sm-1">
				    	<div class="checkbox"></label><input type="checkbox"></div>
				    </div>
				  </div>       	
          {% endfor %}
          <div class="modal-footer">
	        <button type="button" class="btn btn-primary" name="receive" id="save_draft_button_id">Save Draft</button>
	        <button type="button" class="btn btn-primary" name="receive_all" id="submit_button_id">Submit</button>
	      </div>
       </div>
    </form>
    <script>
		$(document).ready(function(){
			$("#submit_button_id").click(function (){
				$("#inline_form_id").attr('action', location.protocol + '//' + location.host + '/receive/?action=receive');
				$("#inline_form_id").submit();
			});
			$("#save_draft_button_id").click(function (){
				$("#inline_form_id").attr('action', location.protocol + '//' + location.host + '/receive/?action=draft');
				$("#inline_form_id").submit();
			});
			$('#collection_date_input_id').focus(function (){
				$(this).attr('type', 'date');
			});
			$('#collection_date_id').focus(function (){
				$(this).attr('type', 'date');
			});
		});	
	 </script>