{% extends "base.html" %}

{% block section_headers %}
    <!-- Button trigger modal -->
    <a href="receive_sample.html" class="btn btn-primary btn-lg" data-toggle="modal-popover" data-target="#mysampleModal">
      Receive Sample  
    </a>
    <a href="receive_batch.html" class="btn btn-primary btn-lg" data-toggle="modal-popover" data-target="#receivebatchModal">
      Receive Batch  
    </a>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#">
      Receive Sample
    </button>
    
{% endblock  %}

{% block content %}
    <h2 class="sub-header">{{section_head}}</h2>
    <div class="table-responsive">
      <table class="table table-striped">
      <tr>
        {% for head in header %}
            <th>{{head}}</th>
        {% endfor %}
      </tr>
      {% for receive in received %}
        <tr>
          <td>{{receive.patient}}</td>
          <td>{{receive.receive_identifier}}</td>
          <td>{{receive.receive_datetime}}</td>
          <td>{{receive.collection_datetime}}</td>
          <td>{{receive.sample_type}}</td>
          <td>{{receive.protocol_number}}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
{% endblock %}
