{% extends "base.html" %}

{% block section_headers%}
    <!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" >
	  Receive Batch
	</button>
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#">
	  Receive And Order
	</button>
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#">
	  Receive Sample
	</button>
{% endblock  %}

{% block content %}
	<div class="container-fluid" style="margin-top:20px;">
	<div class="row">
		<!--   -->
		<div class="col-md-9 table-responsive">
			<table class="table table-striped">
			      <tr>
			        {% for head in header %}
			            <th>{{head}}</th>
			        {% endfor %}
			      </tr>
			      {% for aliquot in aliquots %}
			        <tr>
			          <td>
			            <div class="checkbox">
			              <input type="checkbox">
			            </div>
			          </td>
			          <td>Aliquot {{aliquot}}</td>
			          <td>{{received_date}}</td>
			          <td></td>
			          <td></td>
			          <td>
			            <div class="">
			              <button type="button" class="btn btn-default">Order</button>
			            </div>
			          </td>
			        </tr>
			      {% endfor %}
			      </table>
			 
			 </div>
		</div>
	</div> 
{% endblock %}
