{% extends "base.html" %}

{% block section_headers%}
    <!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" >
	  Receive Batch
	</button>
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#">
	  Receive And Order
	</button>
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#">
	  Receive Sample
	</button>
{% endblock  %}

{% block content %}
	<div class="container-fluid" style="margin-top:20px;">
		<div class="row">
			<!--   -->
			<div class="col-md-9 table-responsive">
				<table class="table table-striped">
				      <tr>
				        {% for head in header %}
				            <th>{{head}}</th>
				        {% endfor %}
				      </tr>
				      {% for aliquot in aliquots %}
				        <tr>
				          <td>
				            <div class="checkbox">
				              <input type="checkbox">
				            </div>
				          </td>
				          <td>{{aliquot}}</td>
				          <td>{{aliquot.aliquot_datetime}}</td>
				          <td></td>
				          <td></td>
				          <td>
				            <div class="">
				              <button type="button" id="order-{{aliquot.aliquot_identifier}}" class="btn btn-default" data-toggle="modal" data-target="#orderModal">Order</button>
				            </div>
				          </td>
				        </tr>
				      {% endfor %}
			      </table>		 
			 </div>
		</div>
	</div> 
	
	<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-sm" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Order against aliquot</h4>
	      </div>
	      <div class="modal-body">
	        <form class="form-inline" action="{% url 'receive_order' %}" method="post" enctype="multipart/form-data">
	            {% csrf_token %}
				<table class="table table-striped">
				 	<tr>
				 		<td>
				 			Aliquot 0
				 		</td>
				 		<td>
				 			<select>
				 			 	<option value="None">----</option>
								<option value="Test1">Test1</option>
								<option value="Test2">Test2</option>
								<option value="Test3">Test3</option>
								<option value="Test4">Test4</option>
							</select> 
				 		</td>
				 	</tr>
			    </table>	
				<div class="modal-footer">
					<div class="form-group">
				        <button type="button" class="btn btn-primary" type="submit" value="submit" name="order-submit" id="order-submit">Submit</button>
			        </div>
		      	</div>
		     </form>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}
